body {
  margin: 0;
  overflow: hidden;
}

.navbar {
  background-color: hsl(116, 54%, 76%);
  color: black;
  font-weight: 500;
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.navbar-left {
  display: flex;
  align-items: center;
}

.cat-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #fff;
}

.score,
.health {
  margin-right: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}
.navbar-left .health {
  margin-bottom: -5px;
}

.navbar-right {
  margin-left: 20px;
}

.option {
  color: black;
  text-decoration: none;
  padding: 10px 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  transition: background-color 0.3s;
  display: flex;
  justify-content: center;
}

.option:hover {
  background-color: #fff;
  color: #392f5a;
}

/* Life container */

#lifeContainer {
  display: flex;
  align-items: center;
}

.lives {
  padding: 10px 15px;
  border-radius: 20px;
}

.life-icon {
  width: 21px;
  height: 20px;
  background-image: url("../../assets/sprites/heart.png");
  background-size: cover;
}